<p id="notice"><%= notice %></p>
<!-- using index instead of show_list from last version -->
<!-- change the table to the bootstrap code -->
<h1>Subjects</h1>
<div class = "container overlay">
<table >
  <tbody>
    <% @subjects.each do |s| %>
      
       
        <td><%= s.name %></td>
        <td><%= s.description %></td>
        <br/> <br/>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

